:root{
    --green5 : #26b47b;
    --green4 : #5cc565;
    --green3 : #c0d376;
    --grenn2 : #e2e3a8;
    --green1 : #eaead7;
    --white :  #ffffff;
    --iconColor : #00B5F5;
    --accent : #002A8F;
    --bluefade: #0043E0;
    --gradient: #00B5F5;
    --direction: -45deg;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div .main-cards{
    position: absolute;
    display: flex;
    padding: 20px;
    left: 500px;
    width: 1300px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.card-container {
    padding: 20px 40px;
    border-radius: 15px;
}
.card-container img:hover{
    transform: scale(2.8);
    box-shadow: 0px 0px 15px -5px;
    transition: 2.1s;

}
.images-container img{
    width: 350px;
    border-radius: 25px;
}

.name-certificate {
    font-size: 10px;
    background: white;
}

.expedicion {
    font-size: 5px;
    background-color: white;
}